.head-nav {
    @include flex($justify: flex-start);
    height: 3em;
      .content-container {
        @include flex($justify: space-between);
        padding: 0.5em;
        height: 100%;
        width: 100%;
        border-bottom: 2px solid $base;
        .log-out {
            @include flex;
            color: $word;
        }
    }

    h2 {
      font-size:16px;
        @include flex;
        margin: 0;
    }
      .log-out {
        cursor: pointer;
    }
}

