:global(.menu-enter) {
  transform: translateX(100%);
}

:global(.menu-enter-active) {
  transform: translateX(0);
  transition: transform 300ms ease;
}

:global(.menu-exit) {
  transform: translateX(0);
}

:global(.menu-exit-active) {
  transform: translateX(100%);
  transition: transform  300ms  ease;
}

.nav-container {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.site-nav {
  p{
    font-family:Dosis, Source Sans Pro;
  }
  position: relative;
  margin: 0 auto;
  @include flex($justify: space-between);
  z-index: 2;
  padding: 0.5em 0;
  height: 4em;
  width: 95%;
  max-width: 850px;
  background: $white;
  .site-nav-list {
    @include flex;
    li {
      padding: 0;
      list-style: none;
      a {
        padding-bottom: 0.2em;
        margin: auto 0.3em;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          @include chosen-item;
        }
        color:#34495e;
      }
      a:link {
        color: #34495e;
      }
      .active {
        @include chosen-item;
      }
    }
  }
   .nav-menu {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid $word;
    border-radius: 2px;
    fill: $word;
  }
}

.mask-nav {
  //visibility: hidden;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 4.5em 1.5em 4em 1.5em;
  background: #f9f9f9;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
  .mask-nav-list {
    li {
      margin-bottom: 0.8em;
      list-style: none;
      a,
      a:link {
        color: #34495e;
        text-decoration: none;
        margin: auto 0.3em;
      }
      a:hover {
        @include chosen-item;
      }
      .active {
        @include chosen-item;
      }
    }
  }
}

.menu-chosen {
  border: 1px solid $base !important;
  fill: $base !important;
}

@media screen and (max-width: 480px) {
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.5em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    .site-nav-list {
      display: none;
    }
    .nav-menu {
      visibility: visible;
    }
  }
  .mask-nav {
    visibility: visible;
  }
}
